doctype html
html(lang='en')
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title #{title}
    script(src="/app.js")
    link(rel="stylesheet", href="/styles.css")
  body
    div.container
      form(action="/login", method="post")
        label(for="username") Username:
        |
        |
        input(type="username", name="username", placeholder="you")
        |
        |
        input(type="submit", value=`${title}`)
    footer
      p
      hr
      p © #{new Date().getFullYear()} Acme, Inc.
